<div class="container">

    <div class="showDetails">

        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h3 class="text-uppercase f-bold">Show Details</h3>
            </div>

            <!-- search input area starts -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <input type="text" class="form-control inputStyle" placeholder="Search by Title" [(ngModel)]="searchByTitle" />
            </div>
            <!-- search input area ends -->

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!-- Show content in table view starts -->
                <section>
                    <div>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="text-capitalize">title</th>
                                    <th class="text-capitalize">url</th>
                                    <th class="text-capitalize">create at</th>
                                    <th class="text-capitalize">author</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="cursor-pointer"
                                    *ngFor="let data of detailsIS | searchByTitlePipe:searchByTitle"
                                    (click)="getRowData(data)">
                                    <td>{{data.title}}</td>
                                    <td>{{data.url}}</td>
                                    <td>{{data.created_at}}</td>
                                    <td class="text-capitalize">{{data.author}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <!-- Show content in table view ends -->

                <!-- Show Modal Popup Starts-->
                <div class="modal fade" id="showSelectedData" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Show Details</h4>
                            </div>
                            <div class="modal-body">
                                {{selectedData | json}}
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Show Modal Popup ends-->



            </div>
        </div>
    </div>

</div>